<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <icecatconfig translate="label" module="icecatcategories">
            <label>IceCat!</label>
            <sort_order>111</sort_order>
        </icecatconfig>
    </tabs> 
    <sections>
        <icecat_options translate="label" module="icecatcategories">
            <label>Icecat! Category Config</label>
            <tab>icecatconfig</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
              <groups>
                <account translate="label">
                    <label>IceCat Account Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store> 
                     <fields>
				        <account_username translate="label">
				            <label>Icecat! Username:</label>
				            <frontend_type>text</frontend_type>
				            <sort_order>1</sort_order>
				            <show_in_default>1</show_in_default>
				            <show_in_website>1</show_in_website>
				            <show_in_store>1</show_in_store>                    
				        </account_username>
				        <account_password translate="label">
					        <label>IceCat! Password:</label>
					        <frontend_type>text</frontend_type>
					        <sort_order>2</sort_order>
					        <show_in_default>1</show_in_default>
					        <show_in_website>1</show_in_website>
					        <show_in_store>1</show_in_store>                    
					    </account_password>
					    <icecat_cattype translate="label">
						    <label>Type of IceCat! Catelog</label>
						    <frontend_type>select</frontend_type>
						    <!-- adding a source model -->
    							<source_model>icecatcategories/icecatCatelogTypes</source_model> 
						    <sort_order>3</sort_order>
						    <show_in_default>1</show_in_default>
						    <show_in_website>1</show_in_website>
						    <show_in_store>1</show_in_store>                    
						</icecat_cattype>
					    
				    </fields>                
                </account>
            </groups>
                                
        </icecat_options>
    </sections> 
</config>
